<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- semantic ui -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'semanticui/semantic.css' %}">

    <title>Math Practice System</title>
</head>

<body>
<div class="btn-block">
    <div class="jumbotron jumbotron-fluid text-center">
        <h1>Math Practice System</h1>
{% block body %}
{% endblock %}
    </div>
</div>
    <!-- Put it below to make sure page load first, speed up render, prevent unresponsive stalls -->
    <script src="{% static 'js/jquery-3.2.1.js'%}" type= "text/javascript"></script>
    <script src="{% static 'semanticui/semantic.js' %}" type = "text/javascript"></script>
  <!-- import bootscrap javascript -->
</body>

</html>
