{% extends 'base.html' %}
{% load static %}
{% block body %}
<a href="{% url 'students_paper_create' %}">
  <div class="ui animated fade button" tabindex="0">
  <div class="visible content">Create new paper</div>
  <div class="hidden content">
    <i class="book icon"></i>
  </div>
</div>
</a>
<table id="table_id" class="display" width="100%">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Time</th>
      <th>Difficulty Degree</th>
      <th># Questions</th>
      <th>Marks</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for paper_test in paper_tests %}
    <tr>
      <td> {{ forloop.counter }} </td>
      <td> {{ paper_test.name }} </td>
      <td> {{ paper_test.total_completion_time }} minute(s) </td>
      <td>
        (
        <strong>
          {{ paper_test.get_difficulty_degree_display }}
        </strong>
        )
        {% for c in paper_test.get_difficulty_degree %}
          <i class="star icon" style="color:#b38600"></i>
        {% endfor %}
      </td>
      <td> {{ paper_test.number_of_questions }} </td>
      <td> {{ paper_test.marks }} </td>
      <td>
        <div class="ui icon buttons">
            <a href="/students/paper/{{ paper_test.id }}/">
              <button type="submit" class="ui icon button">
                <i class="zoom icon"></i>
              </button>
            </a>
            <form action="/students/paper/{{ paper_test.id }}/" method="post">
              {% csrf_token %}
              <button type="submit" class="ui icon button">
                <i class="trash icon"></i>
              </button>
            </form>
          </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock body %}
