{% extends 'base.html' %}
{% block body %}
{% load static %}
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>No</th>
            <th>Concept</th>
            <th>Question</th>
            <th>Answer Type</th>
            <th>Difficulty</th>
            <th>Try Exercise</th>
        </tr>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ question.concept.name }}</td>
            <td>{{ question.content | safe }}</td>
            <td>{{ question.respone_type }}</td>
            <td>{{ question.difficulty_level }}</td>
            <td> <a href="{% url 'students_exercise_try' question.id %}" target="_blank">Try </a></td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
  $(document).ready( function() {
      $('#table_id').DataTable(
        {
          "drawCallback": function( settings ) {
              setTimeout(function(){
                  MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
              }, 500);
          }
      }
      );
  } );
</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
    });
</script>
{% endblock %}
