{% extends 'base.html' %}

{% block body %}
<div class="two wide column"></div>

<div class="twelve wide column">
<form method="post" action="/students/register/">

  {% csrf_token %}

 {% for field in form %}
 <p>
   {{ field.label_tag }}<br>
   {{ field }}
   {% for error in field.errors %}
     <p style="color: red">{{ error }}</p>
   {% endfor %}
 </p>
{% endfor %}
    <a href="/students/login/">Already registered ? Log in here !</a>
    <button class="ui fluid submit button">Register</button>
</form>
</div>
<div class="two wide column"></div>

{% endblock %}
